<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yajie.huayi.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.yajie.huayi.domain.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_id, username, `password`, `name`, telephone, we_chat, company, company_address, 
    user_code, remark, create_at, update_at, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yajie.huayi.domain.User" useGeneratedKeys="true">
    insert into user (create_id, username, `password`, 
      `name`, telephone, we_chat, 
      company, company_address, user_code, 
      remark, create_at, update_at, 
      `status`)
    values (#{createId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{weChat,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yajie.huayi.domain.User" useGeneratedKeys="true">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createId != null">
        create_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="weChat != null">
        we_chat,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createId != null">
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yajie.huayi.domain.User">
    update user
    <set>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yajie.huayi.domain.User">
    update user
    set create_id = #{createId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      we_chat = #{weChat,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findCount" resultType="java.lang.Long">
    <bind name="DELETE" value="@com.yajie.huayi.constant.ConstantsForDomain@DELETE" />
    select count(*)
    from user u INNER JOIN user_role ur ON u.id =ur.user_id
    where u.status !=#{DELETE}
    <include refid="whereUser"></include>
  </select>
  <select id="findUserPage" resultType="com.yajie.huayi.domain.User">
    <bind name="DELETE" value="@com.yajie.huayi.constant.ConstantsForDomain@DELETE" />
    select u.*
    from user u INNER JOIN user_role ur ON u.id =ur.user_id
    where u.status !=#{DELETE}
    <include refid="whereUser"></include>
    limit #{pageRequest.offset}, #{pageRequest.pageSize}
  </select>
  <sql id="whereUser">
    <if test="key != null">
      and u.name like CONCAT('%', #{key}, '%') or u.user_code like CONCAT('%', #{key}, '%')
      or u.username like CONCAT('%', #{key}, '%') or u.company like CONCAT('%', #{key}, '%')
      or u.telephone like CONCAT('%', #{key}, '%')
    </if>
    <if test="role != null">
      and ur.role_id = #{role}
    </if>
    <if test="createId != null">
      and u.create_id = #{createId}
    </if>
    <if test="startTime != null and startTime != ''">
      and u.create_at &gt;= #{startTime}
    </if>
    <if test="endTime != null and endTime != ''">
      and u.create_at  &lt; #{endTime}
    </if>
  </sql>
</mapper>